
<div class="main-content container_12">
                
            <div class="grid_6 content-module project">
            <h2>Links for Good</h2>
            <a href="http://csulb.acm.org/project-view/lfg">
            <img src="http://csulb.acm.org/static/data/project/lfg/img/thumb.png" alt="Links for Good">
            </a>
            <p>Linking for the greater good.</p>
        </div>         
            <div class="grid_6 content-module project">
            <h2>The ACM Redux</h2>
            <a href="http://csulb.acm.org/project-view/Redux">
            <img src="http://csulb.acm.org/static/data/project/Redux/img/thumb.png" alt="The ACM Redux">
            </a>
            <p>Giving computing at the Beach a fresh coat of paint.</p>
        </div>         
            <div class="grid_6 content-module project">
            <h2>THOR, Bot of Thunder</h2>
            <a href="http://csulb.acm.org/project-view/thor">
            <img src="http://csulb.acm.org/static/data/project/thor/img/thumb.png" alt="THOR, Bot of Thunder">
            </a>
            <p>Imagine a Norse god in robot form.</p>
        </div>         
            <div class="grid_6 content-module project">
            <h2>Socie-D</h2>
            <a href="http://csulb.acm.org/project-view/socied">
            <img src="http://csulb.acm.org/static/data/project/socied/img/thumb.png" alt="Socie-D">
            </a>
            <p>On and epic quest to save Socie-D</p>
        </div>         
    
                
        
    <div class="grid_4 other-projects">
        <div class="content-module project">
                <h2>T.E.A.R.</h2>
            
            <a href="http://csulb.acm.org/project-view/tear">
                <img src="http://csulb.acm.org/static/data/project/tear/img/thumb.png" style="width:100%;" alt="T.E.A.R.">
            </a>
            <p>It's a cat!</p>

        </div>
    </div>
        
    <div class="grid_4 other-projects">
        <div class="content-module project">
                <h2>Kurtzacepage</h2>
            
            <a href="http://csulb.acm.org/project-view/kurtzpage">
                <img src="http://csulb.acm.org/static/data/project/kurtzpage/img/thumb.png" style="width:100%;" alt="Kurtzacepage">
            </a>
            <p>Augmenting Ebay</p>

        </div>
    </div>
        
    <div class="grid_4 other-projects">
        <div class="content-module project">
                <h2>Crimes Against Humanity</h2>
            
            <a href="http://csulb.acm.org/project-view/crimes">
                <img src="http://csulb.acm.org/static/data/project/crimes/img/thumb.png" style="width:100%;" alt="Crimes Against Humanity">
            </a>
            <p>Save the world, one crime at a time.</p>

        </div>
    </div>
    
    <div class="grid_12"><br><br></div>
